.images{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(224, 10, 224, 0.133);
    
}
.item_person{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid black;
    gap: 20px;
}